body{
	font-family: 'Open Sans',sans-serif;
	background-image:url(BG.jpg) ;
	background-position:center bottom;
	background-size: cover;
	
}
#container{
	width: 1000px;
	height: 550px;
	margin: 20px auto;	
}
#calculator{
	width: 320px;
	height: 520px;
	background-color: #f7f7f7;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #1f2026;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: 400px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number, .empty{
	background-color: #f7f7f7;
}
.number, .operator{
	cursor: pointer;
    background-color: #f7f7f7;
}
.operator:active, .number:active{
	font-size: 13px;
    
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #40a8a3;
}
button:nth-child(8){
	font-size: 20px;
    color: #f7f7f7;
	background-color: #252f32;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #cfd16b;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #7d93e0;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #9477af;
}
  
@media all and (max-width: 100px) {
    .container {
      margin-bottom: 100px;
	  display: block;
    }
    
    .calculator {
      font-size: 32px;
    }}